
.icon-home:before { content: '\e800'; } /* '' */
.icon-cartillas:before { content: '\e801'; } /* '' */
.icon-noticias:before { content: '\e802'; } /* '' */
.icon-ubi:before { content: '\f276'; } /* '' */
.icon-facebook:before { content: '\f30d'; } /* '' */
